.chat-container{
    height: 100vh;
}




.chat-container .conversation-detail{
    height: 60px;
    font-size: 24px;
}

.chat-container .conversation-header{
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    height: 64px;
    line-height: 64px;
}

.send-message-form{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.chat-container .main{
    height: calc(100% - 64px);
    display: flex;
}

.chat-container .main .conversation-detail{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}

.conversation-detail .list-messages{
    flex-grow: 1;
}

#send-message-form .input-wrapper input{
    border: none;
    border-top: 1px solid #dbdbdb;
    height: 64px;
}

#send-message-form{
    position: relative;

}

#send-message-form button{
    position: absolute;
    right: 10px;
    top: 30px;
    border: none;
    background: none;
    color: coral;
    font-size: 20px;
}


#send-message-form .input-wrapper{
    margin-bottom: 0;
}

.chat-container .list-messages{
    padding: 10px;
    overflow-y: auto;
}

.chat-container .list-messages .message-container{
    margin-bottom: 10px;
}

.chat-container .message-container .content{
    border-radius: 3px;
    padding: 7px 10px;
    max-width: 40%;
    width: max-content;
}

.chat-container .message-container.their .content{
    background: #dadbdb;
}

.message-container.their .content{
    background: grey;
    word-break: break-all;
}

.chat-container .message-container.mine .content{
    background: #037bfe;
    color: #fff;
    word-break: break-all;
}

.chat-container .message-container.mine{
    display: flex;
    justify-content: flex-end;
}

.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
}

.chat-container .create-conversation{
    height: 64px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    line-height: 64px;
}

.chat-container .list-conversation .conversation{
    padding: 5px 10px;
}

.chat-container .list-conversation .conversation.current{
    background-color: #dbdbdb;

}

.chat-container .aside-right{
    padding: 10px;
    width: 13%;
    height: 100%;
   
    border-left: 1px solid #dbdbdb;
}

.chat-container .aside-right .user{
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-container #add-user-form{
    margin-top: 12px;
}